.building-bar-root {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.slots-container {
    flex-direction: row;
    background-color: rgba(254, 255, 255, 0.95);
    border-width: 1px;
    border-color: rgb(62, 62, 66);
    border-radius: 8px;
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(144, 182, 176);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(144, 182, 176);
    border-right-color: rgb(144, 182, 176);
    border-top-color: rgb(144, 182, 176);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.building-slot {
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(180, 233, 221);
    border-width: 1px;
    border-color: rgb(85, 85, 85);
    border-radius: 4px;
    transition: scale 0.2s ease-out-back, border-color 0.2s;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-left-color: rgb(254, 255, 255);
    border-right-color: rgb(254, 255, 255);
    border-top-color: rgb(254, 255, 255);
    border-bottom-color: rgb(254, 255, 255);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.building-slot:hover {
    border-color: rgb(76, 175, 80);
    scale: 1.1;
    background-color: rgb(56, 56, 56);
    border-left-color: rgb(222, 222, 222);
    border-right-color: rgb(222, 222, 222);
    border-top-color: rgb(222, 222, 222);
    border-bottom-color: rgb(222, 222, 222);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.building-slot:active {
    background-color: rgb(234, 234, 234);
    scale: 0.95;
}

.tooltip-container {
    position: absolute;
    bottom: 110%;
    width: 200px;
    border-radius: 6px;
    padding: 10px;
    border-left-width: 0;
    border-left-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-color: rgb(62, 62, 66);
    transition: opacity 0.2s, translate 0.2s;
    opacity: 1;
    translate: 0 0;
    background-image: url("project://database/Assets/UI/UIAssets/UI_Infobulle.png?fileID=2800000&guid=4e66aaf8e105ce743915a50c69f50394&type=3#UI_Infobulle");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    -unity-background-image-tint-color: rgb(62, 111, 100);
}

.tooltip-hidden {
    opacity: 0;
    translate: 0 10px;
    display: none;
}

.tooltip-header {
    color: rgb(255, 255, 255);
    font-size: 14px;
    -unity-font-style: bold;
    margin-bottom: 2px;
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/space%20Xrebron.ttf?fileID=12800000&guid=07da749f81306ef4ab98e07a2320e5c6&type=3#space Xrebron");
}

.tooltip-cost {
    color: rgb(255, 215, 0);
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(68, 68, 68);
    padding-bottom: 2px;
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/Nunito-VariableFont_wght.ttf?fileID=12800000&guid=6fe7d516eb36ebe4982d4b41197302b1&type=3#Nunito-VariableFont_wght");
}

.tooltip-desc {
    color: rgb(170, 170, 170);
    font-size: 10px;
    white-space: normal;
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/Nunito-VariableFont_wght.ttf?fileID=12800000&guid=6fe7d516eb36ebe4982d4b41197302b1&type=3#Nunito-VariableFont_wght");
}
