:root {
}

.button-menu {
    background-color: rgba(170, 240, 225, 0.5);
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-right-radius: 52px;
    border-bottom-left-radius: 52px;
    font-size: 58px;
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/space%20Xrebron.ttf?fileID=12800000&guid=07da749f81306ef4ab98e07a2320e5c6&type=3#space Xrebron");
    -unity-text-align: upper-left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    border-left-color: rgb(98, 130, 123);
    border-right-color: rgb(98, 130, 123);
    border-top-color: rgb(98, 130, 123);
    border-bottom-color: rgb(98, 130, 123);
    background-image: none;
    background-position-x: right 0;
    background-position-y: bottom 0;
    -unity-background-scale-mode: scale-and-crop;
    -unity-slice-type: sliced;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.button-menu:hover {
    background-color: rgb(170, 240, 225);
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    border-bottom-right-radius: 52px;
    border-bottom-left-radius: 52px;
    font-size: 58px;
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/space%20Xrebron.ttf?fileID=12800000&guid=07da749f81306ef4ab98e07a2320e5c6&type=3#space Xrebron");
    -unity-text-align: upper-left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    border-left-color: rgb(98, 130, 123);
    border-right-color: rgb(98, 130, 123);
    border-top-color: rgb(98, 130, 123);
    border-bottom-color: rgb(98, 130, 123);
    background-image: none;
    background-position-x: right 0;
    background-position-y: bottom 0;
    -unity-background-scale-mode: scale-and-crop;
    -unity-slice-type: sliced;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out-cubic;
}
