.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
}

.hidden {
    display: none;
}

.menu-box {
    width: 300px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    padding: 20px;
    align-items: stretch;
}

.header-text {
    font-size: 24px;
    -unity-font-style: bold;
    color: white;
    margin-bottom: 20px;
    -unity-text-align: middle-center;
}

.menu-button {
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgb(79, 140, 126);
    border-radius: 5px;
    color: rgb(242, 242, 242);
    -unity-font-definition: url("project://database/Assets/UI/UIAssets/Nunito-VariableFont_wght.ttf?fileID=12800000&guid=6fe7d516eb36ebe4982d4b41197302b1&type=3#Nunito-VariableFont_wght");
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.menu-button:hover {
    background-color: rgb(114, 191, 174);
}

.images-row {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.control-image {
    width: 48%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -unity-background-scale-mode: scale-to-fit;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(100, 100, 100);
}

.carousel-row {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.carousel-image {
    flex-grow: 1;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -unity-background-scale-mode: scale-to-fit;
}

.arrow-button {
    width: 50px;
    height: 100%;
    font-size: 30px;
    -unity-font-style: bold;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0;
    color: white;
}

.arrow-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.arrow-button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.option-label {
    color: white;
    margin-top: 5px;
    margin-left: 2px;
}

.option-dropdown {
    margin-bottom: 15px;
}

.keybind-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-right: 10px;
}

.keybind-label {
    color: rgb(220, 220, 220);
    font-size: 14px;
}

.keybind-button {
    width: 80px;
    height: 30px;
    background-color: rgb(80, 80, 80);
    color: white;
    border-radius: 5px;
}

.keybind-button:hover {
    background-color: rgb(120, 120, 120);
}
